*{
	margin:0px;
	padding:0px;
	border:0px;
}
div{
	display:block;
}
.titleBar{
	height:56px;
	width:100%;
	position:fixed;
	border-bottom:1px solid #080808;
	background-color:#ffffff;
	z-index:99999;
}
.titleBar .title{
	height:100%;
	width:150px;
	background-color:#080808;
	text-align:center;
	line-height:56px;
	font-size:28px;
	font-family: Verdana, Arial, 'ו';
	color:#fff;
	font-weight:900;
	float:left;
}
.button{
	height:34px;
	width:100px;
	background-color:#efefef;
	float:right;
	margin:11px 11px;
	font-size:12px;
	font-family: Verdana, Arial, 'ו';
	color:#080808;
	font-weight:600;
	line-height:34px;
	text-align:center;
	border-radius:10px;
}
.button:hover{
	background-color:#dddddd;
}
.button-large{
	height:68px!important;
	width:200px!important;
	margin:30px 50px;
	background-color:#080808;
	font-size:32px;
	font-family: Verdana, Arial, 'ו';
	color:#ffffff;
	font-weight:600;
	box-shadow:1px 1px 0px #111111;
}
.button-large:hover{
	background-color:#dddddd;
}
.content{
	position:relative;
	top:106px;
	height:85%;
	min-height:700px;
	width:80%;
	min-width:1000px;
	margin:0 auto;
	box-shadow:1px 1px 6px #111111;
}
.roundBox{
	border: 1px solid rgb(185, 185, 185);
	position: relative;
	margin:5px 5px;
	border-radius:10px;
	background-color:#ffffff;
	padding:10px;
}
.sideBar{
	height:auto;
	min-width:300px;
	padding-right:50px;
	float:right;
}
ul{
	list-style:none;
}
.text{
	width:55%;
	height:700px;
	padding:10px 0px 10px 70px;
	float:left;
}
#input{
	width:100%;
	height:80%;
	float:center;
	background-color:#eee;
	margin-top:50px;
	resize:none;
	font-size:18px;
}
